{% extends 'app/gradenav.html' %}

{% block title %}
<title>Online Judge</title>
{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'css/form_quiz.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form id="form-quiz-setting" method="post" action="">
    <!-- ========== 날짜 ========== -->
    {% csrf_token %}
    <div class="row mb-5">
        <label for="inputDate" class="col-sm-3 col-form-label form-quiz-label" >수업명</label>
        <div class="col-sm-8">
            <!-- 입력 -->
            <input name="classname" type="text" class="form-control" id="classname">
        </div>
    </div>
    <div class="row mb-5">
        <label for="inputDate" class="col-sm-3 col-form-label form-quiz-label" >분반</label>
        <div class="col-sm-8">
            <!-- 입력 -->
            <input name="group" type="text" class="form-control" id="group">
        </div>
    </div>
   
    <div class="row mb-5 button-container">
        <button type="submit" class="btn btn-primary" style="background-color: #4472C4;">등록</button>
        <button type="reset" class="btn btn-outline-dark">초기화</button>
    </div>
</form>
{% endblock %}